body{
    font-family: 'Teko', sans-serif;
    margin: auto;
}
h1{
    font-size: 59px;
    color: rgb(233, 145, 14);
}
.orange-color{
    color: tomato;
}
h2{
    font-size: 50px;
    color: orangered;
}
.software{
    color: #9c471e;
    font-size: 33px;
}
.building{
    color: rgb(162, 216, 91);
    font-size: 47px;
}
p{
    font-size: 25px;
    color: #d0602a;
}
.flexible-container{
    display: flex;
    margin: 5px;
}
.half-width{
    width: 50%;
    padding: 5% ;
    
}
.half-width img{
    width: 113%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px ;
    border-radius: 5px;
    font-weight: 700;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    
    background-position: right;
}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgb(95 18 18);
    
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, aqua);
    border-image-slice: 1;
}
#full-experience {
    border-left: 7px solid;
    border-image: linear-gradient(tomato, aqua);
    border-image-slice: 1;
}
footer{
    color: brown;
    text-align: center;
}
